@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("assets/fonts/Roboto-VariableFont.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* плавная прокрутка*/
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* 4 строки для прижатия футера*/
  margin: 0;
  padding: 0;

  font-family: 'Roboto';
}

.header,
.main,
.footer,
.section {
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.nav,
.footer-container {
  background-color: #353535;
}

.header {
  position: sticky; /*Pin menu*/
  top: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;

  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;

  font-size: 18px;

  color: #ffffff;
  text-decoration: none;
}

.nav-link:visited {
  color: #ffffff;
}

.nav-link:hover {
  color: #237f0b;
}

.contact-link,
.project-link,
.footer-link {
  color: #829985;
  text-decoration: none;
  transition: 0.7s;
}

.contact-link:visited,
.project-link:visited,
.footer-link:visited {
  color: #829985;
}

.contact-link:hover,
.project-link:hover,
.footer-link:hover {
  color:  #b00909;
}

.contacts-list,
.skills-list {
  list-style: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.section {
  width: 50%;
  padding: 0 50px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.my-photo {
  border: none;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  .nav-link {
  padding: 0 10px;
  }
}